/*
 * 说明：图片路径在gzip情况下相对于common/js/gzip.php文件路径而设定。
 */
html,body {
	font:normal 12px SimSun,sans-serif;
	border:0 none;
	overflow:hidden;
	height:100%;
	margin:0;
	padding:0;
}

.en-head {
	font:bold .8em Geneva,Arial,Helvetica,sans-serif;
}

.en {
	font-family:verdana,Geneva,Helvetica,Arial,sans-serif;
}

/*table {
	width:100%;
}*/
.logo {
	background-image:url(ico/logo.png)!important;
}
.settings {
	background-image:url(ico/folder_wrench.png)!important;
}

.nav {
	background-image:url(ico/folder_go.png)!important;
}

.navdesign {
	background-image:url(ico/cog_edit.png)!important;
}

.docs-header .x-panel-body {
	background:transparent;
}

h1 {
	font:bold 200% STXingkai;
}

#content-head {
	font-weight:400;
	font-size:150%;
	width:450px;
	text-align:left;
}

p#indexPage {
	font:120%;
	line-height:2em;
	width:450px;
	padding-left:30px;
	text-align:left;
	border-color:#000;
	border-style:solid;
	border-width:thin;
}

p,.x-panel-body p {
	margin:5px;
}
