
/home/betterlife/view/default/tmp
/home/admin/view/default/tmp
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
.settings/org.eclipse.wst.validation.prefs
.buildpath
/model
/attachment
betterlife.*