/home/model/view/default/tmp
/home/model/view/bootstrap/tmp
/home/betterlife/view/default/tmp
/home/betterlife/view/bootstrap/tmp
/home/admin/view/default/tmp
/.settings
.buildpath
/stressdata
/model
betterlife.*
/upload
/log
/install/vendor
/install/bower_components
/install/node_modules
