/*
 * 说明：图片路径在gzip情况下相对于common/js/gzip.php文件路径而设定。
*/
html,body {
	font:normal 15px SimSun,sans-serif;
	border:0 none;
	overflow:auto;
	line-height:1.5em;
	margin:2px 0 0;
	padding:0;
}

.en-head {
	font:bold .8em Geneva,Arial,Helvetica,sans-serif;
}

.en {
	font-family:verdana,Geneva,Helvetica,Arial,sans-serif;
}

table {
	width:100%;
}

p {
	margin:5px;
}

div{
	margin:8px;
}

div .block {
	margin-top:10px;
	border:1px solid #cfcfcf;
	width:600px;
	padding:10px;
}

a {
	color:#1E4176;
}

a:link {
	color:#1E4176;
	text-decoration:none;
}

a:visited {
	color:#555;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:#15428b;
}

h1 {
	font:bold 150% STXingkai;
}

h2 {
	font:150% STXingkai;
}

p#indexPage {
	font:120%;
	line-height:2em;
	padding-left:30px;
	text-align:left;
	border-color:#000;
	border-style:solid;
	border-width:thin;
}

blockquote {
	width:600px;
	border:1px solid #cfcfcf;
	margin:2px;
	padding:5px;
}

input {
	border:1px solid #FFF;
	text-align:center;
	width:200px;
	height:28px;
	line-height:28px;
	background:gray;
	color:#FFF;
	background-color:gray;
}

.btnSubmit{
	width:100px;
	height:32px;
	color:#FFF;
	cursor:pointer;
	font:bold 84% SimSun,helvetica,sans-serif;
	background-color:#000;
	border:1px solid;
	border-color:#696 #363 #363 #696;
}

label {
	vertical-align:middle;
	width:150px;
	height:35px;
	text-align:right;
	margin:2px 4px 6px;
}

br {
	clear:left;
}

/** 数据对象模板显示样式 */
.block {
	margin-top:10px;
	border:1px solid #cfcfcf;
	padding:10px;
}
.viewdoblock {
	width          : 98%;
	border-collapse: collapse;
	margin         : 10px;
	border-left    : 1px solid #99BBE8;
	border-right   : 1px solid #99BBE8;
	border-top     : 5px solid #ccc;
	border-bottom  : 5px solid #ccc;
}
.viewdoblock .entry{
	font-size:14px;
}
.viewdoblock span{
}
.viewdoblock .head{
	width      :32%;
	min-width  :150px;
	white-space:nowrap;
	text-align :right;
	font-weight:bold;
	line-height        : 1.5em;
	padding-right      : 5px;
	border             : 1px solid #ccc ;
	border-bottom-width: 0px;
	border-left-width  : 0px;
}
.viewdoblock .header{
	text-align :center;
	font-weight:bold;
	line-height        : 1.5em;
	padding-right      : 5px;
	border             : 1px solid #ccc ;
	border-bottom-width: 0px;
	border-left-width  : 0px;
}
.viewdoblock .content{
	line-height :1.5em;
	padding-left:20px;
	border      : 1px solid #ccc ;
	border-bottom-width: 0px;
	border-right-width : 0px;
}
.viewdoblock .btnCol{
	width:100px;
	text-align :center;
	line-height :1.5em;
	border      : 1px solid #ccc ;
	border-bottom-width: 0px;
	border-right-width : 0px;
}
.viewdoblock .edit{
	width: 98%;
}


/* 图片自适应显示 table-cell方式 */
.wrap_2_inner img { max-height:600px; max-width:600px; *bottom:50%;*right:50%;margin:0 auto;}

/* END */