USE [Betterlife]
GO
/****** Object:  Table [dbo].[bb_user_userdetail]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_userdetail](
	[id] [int] NULL,
	[userId] [int] NULL,
	[email] [nvarchar](255) NULL,
	[cellphone] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail', @level2type=N'COLUMN',@level2name=N'userId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮件地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail', @level2type=N'COLUMN',@level2name=N'cellphone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户详细信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_userdetail'
GO
/****** Object:  Table [dbo].[bb_user_user]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_user](
	[id] [int] NULL,
	[departmentId] [int] NULL,
	[name] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user', @level2type=N'COLUMN',@level2name=N'departmentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user', @level2type=N'COLUMN',@level2name=N'password'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_user'
GO
/****** Object:  Table [dbo].[bb_user_role]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_role](
	[id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'''角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_role', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_role', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_role', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_role', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_role'
GO
/****** Object:  Table [dbo].[bb_user_re_userrole]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_re_userrole](
	[id] [int] NULL,
	[userId] [int] NULL,
	[roleId] [int] NULL,
	[commitTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_userrole', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_userrole', @level2type=N'COLUMN',@level2name=N'userId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_userrole', @level2type=N'COLUMN',@level2name=N'roleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_userrole', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户角色关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_userrole'
GO
/****** Object:  Table [dbo].[bb_user_re_rolefunction]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_re_rolefunction](
	[id] [int] NULL,
	[roleId] [int] NULL,
	[functionId] [int] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_rolefunction', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_rolefunction', @level2type=N'COLUMN',@level2name=N'roleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'功能编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_rolefunction', @level2type=N'COLUMN',@level2name=N'functionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色拥有功能关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_re_rolefunction'
GO
/****** Object:  Table [dbo].[bb_user_function]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_function](
	[id] [int] NULL,
	[url] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_function', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许访问的URL权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_function', @level2type=N'COLUMN',@level2name=N'url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_function', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_function', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'功能信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_function'
GO
/****** Object:  Table [dbo].[bb_user_department]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_user_department](
	[id] [int] NULL,
	[name] [nvarchar](150) NULL,
	[manager] [nvarchar](255) NULL,
	[budget] [int] NULL,
	[actualexpenses] [int] NULL,
	[estsalary] [int] NULL,
	[actualsalary] [int] NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'manager'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'预算' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'budget'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'实际开销' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'actualexpenses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门人员预估平均工资' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'estsalary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门人员实际平均工资' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'actualsalary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户所属部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_user_department'
GO
/****** Object:  Table [dbo].[bb_msg_re_usernotice]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_msg_re_usernotice](
	[id] [int] NULL,
	[userId] [int] NULL,
	[noticeId] [int] NULL,
	[commitTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_re_usernotice', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_re_usernotice', @level2type=N'COLUMN',@level2name=N'userId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_re_usernotice', @level2type=N'COLUMN',@level2name=N'noticeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_re_usernotice', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户收到通知关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_re_usernotice'
GO
/****** Object:  Table [dbo].[bb_msg_notice]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_msg_notice](
	[id] [int] NULL,
	[senderId] [int] NULL,
	[group] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[content] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理员编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'senderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'group'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通知' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_notice'
GO
/****** Object:  Table [dbo].[bb_msg_msg]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_msg_msg](
	[id] [int] NULL,
	[senderId] [int] NULL,
	[receiverId] [int] NULL,
	[senderName] [nvarchar](255) NULL,
	[receiverName] [nvarchar](255) NULL,
	[content] [nvarchar](255) NULL,
	[state] [nvarchar](3) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'消息编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送者用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'senderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收者用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'receiverId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送者名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'senderName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收者名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'receiverName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'枚举类型。\n0:未读\n1:已读' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'消息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_msg_msg'
GO
/****** Object:  Table [dbo].[bb_log_loguser]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_log_loguser](
	[id] [int] NULL,
	[userId] [int] NULL,
	[type] [nvarchar](3) NULL,
	[content] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_loguser', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_loguser', @level2type=N'COLUMN',@level2name=N'userId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型；枚举类型：\n1.吃饭\n2.干活\n3.睡觉' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_loguser', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'一般日志类型决定了内容；这一栏一般没有内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_loguser', @level2type=N'COLUMN',@level2name=N'content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'提交更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_loguser', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_loguser'
GO
/****** Object:  Table [dbo].[bb_log_log]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_log_log](
	[id] [int] NULL,
	[logtime] [datetime] NULL,
	[ident] [nvarchar](48) NULL,
	[priority] [nvarchar](3) NULL,
	[message] [nvarchar](255) NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_log', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志记录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_log', @level2type=N'COLUMN',@level2name=N'logtime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标志或者分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_log', @level2type=N'COLUMN',@level2name=N'ident'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'优先级\r\n0:严重错误\r\n1:警戒性错误\r\n2:临界值错误\r\n3:一般错误\r\n4:警告性错误\r\n5:通知\r\n6:信息\r\n7:调试\r\n8:SQL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_log', @level2type=N'COLUMN',@level2name=N'priority'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_log', @level2type=N'COLUMN',@level2name=N'message'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_log_log'
GO
/****** Object:  Table [dbo].[bb_core_comment]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_core_comment](
	[id] [int] NULL,
	[userId] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[blogId] [int] NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment', @level2type=N'COLUMN',@level2name=N'userId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment', @level2type=N'COLUMN',@level2name=N'comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment', @level2type=N'COLUMN',@level2name=N'blogId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'常见时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评论' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_comment'
GO
/****** Object:  Table [dbo].[bb_core_blog]    Script Date: 08/24/2011 09:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bb_core_blog](
	[id] [int] NULL,
	[userId] [int] NULL,
	[name] [nvarchar](255) NULL,
	[content] [nvarchar](255) NULL,
	[commitTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog', @level2type=N'COLUMN',@level2name=N'userId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog', @level2type=N'COLUMN',@level2name=N'content'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog', @level2type=N'COLUMN',@level2name=N'commitTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog', @level2type=N'COLUMN',@level2name=N'updateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'bb_core_blog'
GO
