/* ---------------修改  Ext CSS -------------- */
/* Ext 3.3 */
.x-window-footer {
    position: relative;
    top: 0;
    right: 0;
}
.x-tab-strip SPAN.x-tab-strip-text  {
	font-size: 13px;
}
.x-panel-header {
	font-size: 13px;
}
.x-tree-node {
	font-size: 13px;
}
.x-grid3-hd-row TD {
	font-size: 13px;
}
.x-grid3-row TD {
	font-size: 13px;
	LINE-HEIGHT: 18px;
}
.x-tip .x-tip-bd {
	font-size: 13px;
}
.x-tip h3{
	font-size: 13px;
}
.x-tip .x-tip-bd-inner{
	font-size:13px;
}
.x-panel-tl .x-panel-header {
	FONT: normal 13px tahoma,arial,verdana,sans-serif;
}
.x-form-field {
	FONT: 13px tahoma,arial,helvetica,SimSun,sans-serif	
}
.x-small-editor .x-form-field {
	FONT: 13px tahoma,arial,helvetica,SimSun,sans-serif	
}
.x-combo-list-item {
	FONT: 13px tahoma,arial,helvetica,sans-serif;	
}	
.x-menu-list-item {
	FONT: 13px tahoma,arial,sans-serif;
}
.x-window-tl .x-window-header {
	FONT: bold 13px tahoma,arial,verdana,sans-serif;	
}
/*
.x-layout-split-west .x-layout-mini {	
	BACKGROUND-IMAGE: url(ajax/ext/resources/images/mini-left.jpg);
}*/
.ext-ie .x-form-text {
	margin-top:1px;
} /* the textField missing bottom line */
.x-form-item {	
	FONT: 13px tahoma,arial,helvetica,SimSun,sans-serif
}
.x-grid-group-hd DIV {	
	FONT: bold 13px tahoma,arial,helvetica,sans-serif;
}
div.x-tab-strip-wrap .add-tab a span.x-tab-strip-inner {
    width:26px;
    background: url(ajax/ext/resources/images/new/add.gif) no-repeat center center;
}


/**页面加载效果 */
#loading-mask {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:#FFF;
}

#loading {
    position:absolute;
    left:45%;
    top:40%;
    z-index:20001;
    height:auto;
    padding:2px;
}

#loading img {
    margin-bottom:5px;
}

#loading .loading-indicator {
    background:#FFF;
    color:#555;
    font:bold 13px helvetica,arial,tahoma,sans-serif;
    text-align:center;
    height:auto;
    margin:0;
    padding:10px;
}
/* END */   

/**按钮字体大小 */
.ext-gecko .x-btn button {  
    font-size: 13px;  
    padding-top: 0;  
}        
.x-btn button {  
    font-size: 13px;  
    padding-top: 0;  
}        
/* END */

/**工具栏字体大小 */   
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label{         
    font: 13px arial,tahoma,helvetica,sans-serif;
}
/* END */

.x-small-editor .x-form-num-field {
    text-align: center;
}